<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body style="background-color: cadetblue">
    <header style="text-align: center; padding-top: 60px;">
        <h1>Message App</h1>
        <h4>Post your thoughts</h4>
    </header>
    <section style="padding-left: 30px">
        <a style="font-size: 1.5em" href="/add">Add a Message</a>
    </section>
    <section >
        <div class="container" th:each="message : ${messages}">
            <!--For each message make a new row-->
            <div class="row">
                <div style="text-align: center;" class="col-sm-4 info">
                    <h2 th:text="${message.title}"></h2>
                    <p th:inline="text"> Posted by: [[${message.postedBy}]]</p>
                    <p th:inline="text"> Posted On: [[${message.postedDate}]]</p>
                </div>
                <div class="col-sm-6 content">
                    <p style="font-size: 1.5em;" th:text="${message.content}"></p>
                    <div style="text-align: center" th:if="${message.image} != null">
                        <img th:src="${message.image}" />
                    </div>
                </div>
                <div class="col-sm-2 actions">
                    <a style="font-size: 1.5em" th:href="@{/update/{id}(id=${message.id})}">Update</a><br />
                    <a style="font-size: 1.5em" th:href="@{/detail/{id}(id=${message.id})}">Details</a><br />
                    <a style="font-size: 1.5em" th:href="@{/delete/{id}(id=${message.id})}">Delete</a><br />
                </div>
            </div>
        </div>
    </section>



    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>